.imagen-con-texto {
    position: relative;
    width: 100%;
    max-height: 200px; 
    overflow: hidden;
}

.imagen-con-texto video {
    width: 100%;
    height: auto;
    display: block;
}

.imagen-con-texto h1 {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente para mayor contraste */
    padding: 10px 20px;
    font-size: 2.5em;
    border-radius: 10px;
}

nav {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 10px;
  font-family: Arial, sans-serif;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.2s ease;
}

nav a:hover,
nav li:hover {
  color: red;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Justo debajo del enlace */
  left: 0;
  background-color: black;
  padding: 10px 0;
  list-style: none;
  min-width: 180px;
  color: white;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 5px 20px;
  white-space: nowrap;
}


/* Mostrar el menú al hacer hover en el contenedor .dropdown */
.dropdown:hover #menu {
  display: block;
}

ul {
  margin: 2;
  padding: 0;
  list-style:none;
}

ul li {
  padding: 5px 10px;
}



.imagenf {
    position: relative;
    width: 100%;
    max-height: 90px; 
    overflow: hidden;
}

.imagenf video {
    width: 100%;
    height: auto;
    display: block;
}

.imagenf p {

  color: rgb(232, 158, 158);
  text-align: center;
  font-family: 'Georgia', serif;
  position: absolute;
  top: 5px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente para mayor contraste */
  padding: 5px 5px;
  font-size: 1em;
  border-radius: 10px;


}

@media (max-width: 760px) {
  
}